@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&dispplay=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #303030;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;

}
nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 500ms;
    bottom: 0;
}
nav ul li a:hover::after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

main.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    background: #fd4766;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ffffff;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
